/* Made by Tenzin Low (tenzinhl@uw.edu)*/

/* Header/Logo Title */
#header {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #63ddd3;
  border-width: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Background image */
/* body {
  background-image: url("images/Muted_Landscapes_Ridge_Still_Shift-HD.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
body {
  background-color: whitesmoke;
  background-image: url(images/my_lightning_transparent.png);
  background-size: 120px;
  /* Get nice default values for body */
  margin: 0;
  padding: 0;
  border-width: 0;
}

#center-body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  background-color: white;
  width: 800px;
  padding: 30px 60px;
  margin: 20px auto;
  border-radius: 6%;
}

.header-link {
  color: white;
}

a.header-link:hover {
  color: rgb(255, 0, 0);
}

a.header-link:active {
  color: lightblue;
}

/* Profile photo */
#profile-photo {
  width: auto;
  height: 50vh;
  min-height: 3cm;
  max-height: 10cm;
  max-width: 100%;
  border-radius: 50%;
  /* center image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
/* @media (min-height: 400px) {
  .profile-photo {
    max-height: 200px;
  }
} */