/* Made by Tenzin Low (tenzinhl@uw.edu)*/

/* Header/Logo Title */
#header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Profile photo */
.profile-photo {
  width: auto;
  height: auto;
  max-height: 50vh;
  max-width: 100%;
}
/* @media (min-height: 400px) {
  .profile-photo {
    max-height: 200px;
  }
} */